---
import Layout from '../layouts/Layout.astro';
import ScalePicker from '../components/ScalePicker.tsx';
import ScalesButton from '../components/ScalesButton.tsx';
// TODO: add photo
// TODO: change to rickhenry.studio contact form once launched
// TODO: add links to other practice tools as applicable, and link back to main studio website, once it's up.
---

<Layout title="Violin Finger Patterns and Scales">
  <ScalePicker client:idle />
  <div class="container mx-auto px-2 font-serif">
    <header class="mt-12 sm:mt-8 mb-4 w-full flex justify-center">
      <h1
        class="text-center text-xl sm:text-3xl font-bold border-b-2 pb-1 px-2 border-fuchsia-600"
      >
        About
      </h1>
    </header>
    <div class="max-w-4xl mx-auto flex flex-col gap-4">
      <p class="italic mb-4">About this site and me</p>
      <p>
        Hi, I'm Rick. I'm a violin teacher and developer based in South Jersey.
        I built this site to help violin students learn and practice identifying
        the basic finger patterns on the violin.
      </p>
      <p>
        In order to play the violin well, you must play by feel, and so it is
        crucial that you learn the feel of these different finger patterns, and
        learn to identify which pattern you will need for a certain set of notes
        as quickly as possible. On this site, you can find
        <ul class="pl-4 leading-8">
          <li>
            <a
              class="border-b-2 border-fuchsia-600 hover:text-fuchsia-600 pb-1"
              href="/"
            >
              the five basic finger patterns (on the homepage)
            </a>,
          </li>
          <li>
            <a
              class="border-b-2 border-fuchsia-600 hover:text-fuchsia-600 pb-1"
              href="/quiz">a customizable quiz</a
            > to help you practice recognizing them, and
          </li>
          <li>
            <ScalesButton
              client:load
              class="border-b-2 border-fuchsia-600 hover:text-fuchsia-600"
            >
              all the scales in first position
            </ScalesButton>
             with interactive diagrams.
          </li>
        </ul>
      </p>
      <p>
        If you're finding this useful, I'd love to hear from you! Especially if
        you have any problems or find any mistakes or issues. You can
        <a
          class="border-b-2 border-fuchsia-600 hover:text-fuchsia-600"
          href="https://rickhenry.dev/contact">use the contact form</a
        > on my
        <a
          class="border-b-2 border-fuchsia-600 hover:text-fuchsia-600"
          href="https://rickhenry.dev/">personal website.</a
        >
      </p>
    </div>
    <div class="absolute top-0 left-0 m-4">
      <a href="/" class="border-b-2 border-fuchsia-600">Back Home</a>
    </div>
  </div>
</Layout>
