---
import Layout from '../layouts/Layout.astro';
import FingerDisplay from '../components/FingerDisplay.tsx';
import ScalePicker from '../components/ScalePicker.tsx';
import ScalesButton from '../components/ScalesButton.tsx';
import IndexNavMenu from '../components/IndexNavMenu.tsx';
import patterns from '../patterns';
---

<Layout title="Violin Finger Patterns and Scales">
  <ScalePicker client:idle />
  <div class="container mx-auto px-2 font-serif">
    <header class="mt-12 sm:mt-8 mb-4 w-full flex justify-center">
      <h1
        class="text-xl sm:text-3xl font-bold border-b-2 pb-1 px-2 border-fuchsia-600"
      >
        Violin Finger Patterns
      </h1>
    </header>
    <div class="max-w-4xl mx-auto">
      <p class="italic mb-4">
        Here are the five basic finger patterns on the violin.
        <ScalesButton
          client:load
          className="border-b-2 border-fuchsia-600 hover:text-fuchsia-800"
        >
          Pick a Scale
        </ScalesButton> to see how they work in action.
      </p>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 mx-auto">
        {
          Object.keys(patterns.normal).map((key) => (
            <div class="my-2">
              <h2 class="text-xl tracking-wide">{patterns.normal[key].name}</h2>
              <FingerDisplay
                client:load
                baseId={key}
                radius={2}
                widths={patterns.normal[key].widths}
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
  <IndexNavMenu client:idle />
</Layout>
