---
import Layout from '../layouts/Layout.astro';
import FingerDisplay from '../components/FingerDisplay';
import ScalePicker from '../components/ScalePicker';
import ScalesButton from '../components/ScalesButton';
import IndexNavMenu from '../components/IndexNavMenu';
import PatternInfo from '../components/PatternInfo';
import patterns from '../patterns';
---

<script>
  import { moreInfoOpen, moreInfoPatternId, type PatternId } from '../stores';
  import patterns from '../patterns';

  function showMoreInfo(button: HTMLButtonElement) {
    if (!button.dataset.patternId) {
      console.error('missing pattern id on button');
      console.log(button);
      return;
    }
    moreInfoOpen.set(true);
    moreInfoPatternId.set(button.dataset.patternId as PatternId);
  }

  document.addEventListener('astro:page-load', () => {
    const patternButtons = document.querySelectorAll(
      '[data-pattern-button="true"]'
    );
    for (let button of patternButtons) {
      button.addEventListener('click', () =>
        showMoreInfo(button as HTMLButtonElement)
      );
    }
    const url = new URL(window.location.href);
    const patternId = url.searchParams.get('pattern');
    if (patternId && patternId in patterns.normal) {
      moreInfoPatternId.set(patternId as PatternId);
      moreInfoOpen.set(true);
    }
  });
</script>

<Layout title="Violin Finger Patterns and Scales">
  <ScalePicker client:idle />
  <div class="container mx-auto px-2 font-serif">
    <header class="mt-12 sm:mt-8 mb-4 w-full flex justify-center">
      <h1
        class="text-xl sm:text-3xl font-bold border-b-2 pb-1 px-2 border-fuchsia-600"
      >
        Violin Finger Patterns
      </h1>
    </header>
    <div class="max-w-4xl mx-auto">
      <p class="mb-4 px-2">
        Here are the five basic finger patterns on the violin. Click one to read
        more about each one, Practice a
        <ScalesButton
          client:load
          className="border-b-2 -pb-1 border-fuchsia-600 hover:text-fuchsia-800"
        >
          Scale
        </ScalesButton> or
        <a
          href="/practice"
          class="border-b-2 border-fuchsia-600 hover:text-fuchsia-800"
          >Create Some Exercises</a
        >
         to see how they work in action, or
        <a
          href="/quiz"
          class="border-b-2 border-fuchsia-600 hover:text-fuchsia-800"
        >
          practice identifying them</a
        > with the customizable quiz.
      </p>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mx-auto">
        {
          Object.keys(patterns.normal).map((key) => (
            <button
              type="button"
              class="rounded-lg cursor-pointer border-2 border-pink-100 bg-white px-4 py-4 shadow-sm flex flex-col justify-center items-center group focus-within:border-fucshia-500 hover:border-fuchsia-500 focus-within:ring-2 focus-within:ring-fuchsia-500 focus:outline-none focus:ring-2 focus:ring-fuchsia-500 focus:border-fuchsia-500"
              data-pattern-button="true"
              data-pattern-id={key}
            >
              <div class="flex w-full justify-between">
                <h2 class="text-xl tracking-wide text-left">
                  {patterns.normal[key].name}
                </h2>
                <div class="text-base tracking-wide text-right text-fuchsia-700 invisible group-focus:visible group-hover:visible">
                  More Info
                </div>
              </div>
              <FingerDisplay
                client:load
                baseId={key}
                radius={2}
                widths={patterns.normal[key].widths}
              />
            </button>
          ))
        }
      </div>
    </div>
  </div>
  <IndexNavMenu client:idle />
  <PatternInfo client:load />
</Layout>
