---
import Layout from "~/layouts/Layout.astro";
import FingerDisplay from "~/components/FingerDisplay";
import ScalePicker from "~/components/ScalePicker";
import ScalesButton from "~/components/ScalesButton";
import IndexNavMenu from "~/components/IndexNavMenu";
import PatternInfo from "~/components/PatternInfo";
import Link from "~/components/Link";
import patterns from "~/patterns";
import type { PatternId } from "~/stores";
// TODO: visual consistency
// inprove visual consistency of titles and links. links shoudl have fuchsia underline/border, non-links should have black underline/border.
// there should also be an indication that you can change scales by clicking on the title of a scale page
// TODO: add better og images/tags using my og api
---

<script>
  import { moreInfoOpen, moreInfoPatternId, type PatternId } from "~/stores";
  import patterns from "~/patterns";

  function showMoreInfo(button: HTMLButtonElement) {
    if (!button.dataset.patternId) {
      console.error("missing pattern id on button");
      console.log(button);
      return;
    }
    moreInfoOpen.set(true);
    moreInfoPatternId.set(button.dataset.patternId as PatternId);
  }

  document.addEventListener("astro:page-load", () => {
    const patternButtons = document.querySelectorAll(
      '[data-pattern-button="true"]',
    );
    for (let button of patternButtons) {
      button.addEventListener("click", () =>
        showMoreInfo(button as HTMLButtonElement),
      );
    }
    const url = new URL(window.location.href);
    const patternId = url.searchParams.get("pattern");
    if (patternId && patternId in patterns.normal) {
      moreInfoPatternId.set(patternId as PatternId);
      moreInfoOpen.set(true);
    }
  });
</script>

<Layout title="Violin Finger Patterns and Scales">
  <ScalePicker client:idle />
  <div class="container mx-auto px-2 font-serif">
    <header class="mb-4 mt-12 flex w-full justify-center sm:mt-8">
      <h1
        class="border-b-2 border-fuchsia-600 px-2 pb-1 text-xl font-bold sm:text-3xl"
      >
        Violin Finger Patterns
      </h1>
    </header>
    <div class="mx-auto max-w-4xl">
      <p class="mb-4 px-2">
        Here are the five basic finger patterns on the violin. Click one to read
        more about each one, Practice a
        <ScalesButton client:load>
          <span class="border-b-2 border-fuchsia-600 hover:text-fuchsia-800">
            Scale
          </span>
        </ScalesButton>
         or
        <Link href="/practice">Create Some Exercises</Link>
         to see how they work in action, or
        <Link href="/quiz">practice identifying them</Link> with the
        customizable quiz.
      </p>
    </div>
    <div class="mx-auto grid grid-cols-1 gap-4 sm:grid-cols-2">
      {
        Object.entries(patterns.normal).map(([key, pattern]) => (
          <button
            type="button"
            class="focus-within:border-fucshia-500 group flex cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-pink-100 bg-white px-4 py-4 shadow-sm focus-within:ring-2 focus-within:ring-fuchsia-500 hover:border-fuchsia-500 focus:border-fuchsia-500 focus:outline-none focus:ring-2 focus:ring-fuchsia-500"
            data-pattern-button="true"
            data-pattern-id={key}
          >
            <div class="flex w-full justify-between">
              <h2 class="text-left text-xl tracking-wide">{pattern.name}</h2>
              <div class="invisible text-right text-base tracking-wide text-fuchsia-700 group-hover:visible group-focus:visible">
                More Info
              </div>
            </div>
            <FingerDisplay
              client:load
              baseId={key}
              radius={2}
              widths={pattern.widths}
            />
          </button>
        ))
      }
    </div>
  </div>
</Layout>
<IndexNavMenu client:idle />
<PatternInfo client:load />
